body {
  margin: 0;
  padding: 0;
}


.main-header{
  height: 80px;
  width: 100vw;
  box-sizing: border-box;
  padding: 0 20px;
  border: solid 2px black;
  background-color: #F5F5F5;
  display: flex;
  justify-content: space-between;
  line-height: 80px;
  position: relative;
  
  &__btn1{
    text-decoration: none;
    display: flex;
    justify-content: flex-start;

    &__icon{
      color: red;
      line-height: 80px;
      margin-left: 25px;
      font-size: 30px;

    }
    &__text{
      color: black;
      font-weight: bold;
      font-family: monospace;
      font-size: 20px;
    }
  }
  &__box{
    height: 30px;
    width: 300px;
    //仮です
  }
  &__btn2{
    color: gray;
    font-size: 30px;
    position: absolute;
    right: 70px;

  }
  &__btn3{
    color: gray;
    font-size: 35px;

  }

}