.main-contents{
  box-sizing: border-box;
  height: calc(100vh - 80px);
  width: 100vw;
  padding: 0px 45px;
  background: image-url('beatles.jpg');
  background-size: cover;
  overflow: scroll;
  &__title{
    font-size: 45px;
    color: azure;
    font-family: monospace;
    height: 80px;
    line-height: 80px;

  }
  &__contentbox{
    width: 300px;            /* 幅指定 */
    display:  inline-block;     /* インラインブロック要素にする */
    vertical-align:  top;       /* 要素を上揃えにする */
    background-color:  #ccc;    /* 背景色指定 */
    margin-bottom: 10px;        /* 要素同士の隙間調整 */
    padding:  10px;             /* 余白指定 */
    box-sizing: border-box;

  }
}